@media only screen 
and (max-width : 820px) {
    #burger{
        display: flex;
        margin-left:auto;
        align-self : center;
    
        
    }

    #sidebar.is-here{
        right:-350px;
        top : 53px;
      }

    .nav-link.flexed-item{
        display:none;
    }
    #nav-mobile{
        display:block;
            }
    #nav-mobile.mobile{
        display:block;
            }

    #burger :hover{
        cursor: pointer;
    }

    .nav-end{
        display:none;
    }


    #products_grid{
        display: flex;
        flex-flow:column wrap;
        align-items: center;
        align-content:center;
        justify-content:center;
        width : 80%;
    }
    #products_grid .product-item-wrapper{
        width : 70%;
    }
}

@media only screen 
and (max-width : 690px) {
    #sidebar.is-here{
        right:-250px;
        top : 53px;
      }

}

@media only screen 
and (max-width : 590px) {
    #sidebar.is-here{
        right:-150px;
        top : 53px;
      }

}

@media only screen 
and (max-width : 490px) {
    #sidebar.is-here{
        right:-50px;
        top : 53px;
      }

}